body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

    background-color:red;

}



header {

    background-color: grey;

    padding: 20px;

    color: white;

    text-align: center;

}



nav ul {

    list-style-type: none;

    padding: 0;

}



nav ul li {

    display: inline;

    margin: 0 15px;

}



nav ul li a {

    color: blue;

    text-decoration: none;

}



section {

    padding: 40px;

    background-color: white;

    margin: 20px 10%;

    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}



#gallery {

    display: flex;

    justify-content: space-around;

    flex-wrap: wrap;

}



.gallery-grid img {

    width: 30%;

    border-radius: 8px;

    margin: 10px;

    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}



footer {

    text-align: center;

    padding: 20px;

    background-color: lightblue;

    color: white;

}



a {

    color: green;

    text-decoration: none;

}